@using WEB.Models.Genero
@model Application.Responses.ResponseModelUsuario

@{
    Layout = null;
    var NmCurso = ViewBag.NmCurso ?? String.Empty;
    var NmTurma = ViewBag.NmTurma ?? String.Empty;
    var ImgSrc = (Model.DsFoto != null && Model.DsFoto.Length > 0) ? $"data:image/png;base64,{Convert.ToBase64String(Model.DsFoto)}" : String.Empty;
    var ImgAlunoDisplay = !String.IsNullOrEmpty(ImgSrc) ? "display: block" : "display: none";
    var ListaGenero = ViewBag.ListaGenero ?? new List<GeneroViewModel.ItemListaGenero>();
}

<link rel="stylesheet" href="~/css/Certificado/InfoCertificado.css">

@Html.HiddenFor(model => model.CdUsuario)
@Html.HiddenFor(model => model.DsCpf)

<h4 id="nmAlunoCertificado" class="linear1"><b>@Model.NmUsuario</b></h4>

<div id="divTurmaCertificado">
    <label for="divTurmaCertificado" class="linear1">Selecione o certificado:</label><br />
    <select id="ddlTurmaCertificado" class="txtInfoAluno">
        <option value="-1">Selecione</option>
        <option value="0">1N1</option>
        <option value="1">2N1</option>
        <option value="2">3N1</option>
    </select>
</div>

<div id="divCertificado">
    <label for="divImageCertificado" class="linear1">Pré-visualização do certificado:</label><br />
    <div id="divImageCertificado">
    </div>
</div>

<div id="divBotoesCertificado">
    <button id="btnEncaminhar" onclick="carregarEncaminhar()"><b class="linear1">Encaminhar</b></button>
    <button id="btnDownload" onclick="downloadDocumento()"><b class="linear1">Download</b></button>
</div>

<div id="divEncaminharEmail">
    <label for="divTurmaCertificado" class="linear1">Digite o e-mail para encaminhar:</label><br />
    <input id="txtTurmaCertificado" class="txtInfoAluno" type="text" placeholder="Digite o e-mail..." />

    <div id="divBotoesEncaminhar">
        <button id="btnCancelarEnvio" onclick="cancelarEncaminhar()"><b class="linear1">Cancelar envio</b></button>
        <button id="btnEnviar" onclick="encaminharDocumento()"><b>Enviar</b></button>
    </div>
</div>


<script type="text/javascript">
    $('#nmAluno').html('@Model.NmUsuario');
</script>
