#divMatriculaAluno {
    z-index: 9;
    display: none;
    padding: 15px;
    padding-bottom: 0px;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(170,169,169,1) 100%) !important;
    border-radius: 5px !important;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
    gap: 5px;
    width: 30vw;
    font-size: 14px;
    position: fixed;
    top: 8%;
    max-height: 80%;
    left: 38%;
}

#divInformacaoAluno {
    z-index: 11 !important;
}

#btnVoltarModal {
    border: none;
    border-radius: 10px;
    padding: 10px 15px 3px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
}

.txtInfoAluno {
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
    color: #2F2F2F;
}


#divConteudoMatricula {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vw 3vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #EAEAEA !important;
    border-radius: 10px;
}

#divConteudoMatricula > p {
    text-align: left;
}

#btnMatricularAluno {
    color: white;
    margin-top: 5px;
    height: 30px;
    font-size: 14px;
    width: 45%;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    background: rgb(126,6,6);
    background: linear-gradient(180deg, rgba(85,163,109,1) 0%, rgba(102,194,73,1) 100%);
}

#btnInfo {
    color: white;
    margin-top: 5px;
    height: 30px;
    font-size: 14px;
    width: 100px;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    background-color: white;
    text-align: center;
}

@media (max-width: 1200px) {
    #divMatriculaAluno {
        width: 90vw;
        left: 5%;
        top: 30%;
    }
    #divConteudoMatricula {
        padding: 4vh 3vw;
    }
    #btnInfo {
        display: flex;
        justify-content: center;
    }
}
