/* Folha de estilos: Aluno */

/* IDs */
#capaLivro {
    height: 74vh;
    /*width: 67vw;*/
    padding: 6px;
    border-radius: 5px;
    background-color: #940075;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
}

#paginaEsquerda {
    z-index: 1;
    width: 50%;
    padding-right: 2vw;
    background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(243,243,243,1) 18%, rgba(227,227,227,1) 95%, rgba(170,169,169,1) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

#conteudoPagEsq, #conteudoPagDir {
    height: 100%;
    padding: 0 2vw 2vh 2vw;
}

#paginaDireita {
    z-index: 0;
    width: 50%;
    padding-left: 2vw;
    background: rgb(243,243,243);
    background: linear-gradient(270deg, rgba(243,243,243,1) 63%, rgba(227,227,227,1) 94%, rgba(170,169,169,1) 100%);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

#marcadorPagina {
    width: 62px;
    height: 62px;
    background: rgb(220,220,220);
    background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(183,4,145,1) 50%, rgba(140,7,112,1) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 50%, 0% 100%);
}

#divBusca {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

#btnPesquisar, #btnEditar {
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
}

#btnCancelar {
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
}

#btnSalvar {
    color: #FFFFFF;
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(180deg, rgba(85,163,109,1) 0%, rgba(102,194,73,1) 100%);
}

#txtBusca {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
}

input:focus, button:focus {
    outline: none;
}

#listaAlunos div:first-child {
    margin-top: 2vh;
    display: grid;
}

#listaAlunos div:last-child {
    display: flex;
    font-size: 12px;
    margin-top: 2vh;
    align-items: center;
    justify-content: space-between;
}

#listaAlunos > div:first-child > button {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #989898;
    padding: 10px 0px 10px 8px;
    border: 1px solid #AEAEAE;
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px inset;
}

#listaAlunos > div:first-child > button:first-child {
    border-radius: 5px 5px 0 0;
}

#listaAlunos > div:first-child > button:last-child {
    border-radius: 0 0 5px 5px;
}

#divInfoAluno {
    padding-top: 5vh;
}

#divInfoAluno label {
    font-weight: 700;
    font-size: 12px;
}

#divImgAluno {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#divImgAluno > img {
    background-color: #DBD8D8;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
}

#divImgAluno > div:last-child {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

#btnTrocarFoto {
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
}

#btnExcluirFoto {
    color: #FFFFFF;
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    background: linear-gradient(0deg, rgba(218,53,53,1) 0%, rgba(126,6,6,1) 100%);
}

#divNomeAluno{
    margin-top: 3vh;
}

#divEmailAluno {
    margin-top: 1vh;
}

#divGrupoPC1 {
    margin-top: 1vh;
    display: flex;
    gap: 15px;
}

#divGrupoPC1 > div {
    width: 33.3%;
}

#divGrupoPC2 {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

#divGrupoPC2 > div {
    width: 50%;
}

#divBotaoEditar {
    /*display: none;*/
    display: flex;
    justify-content: flex-end;
    margin-top: 11vh;
}

#divBotoesEdicao {
    display: none;
    /*display: flex;*/
    justify-content: space-between;
    margin-top: 11vh;
}

#msgListaAlunoMobile {
    display: none;
}

/* Classes */
.divMsgSelecione {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btnDisabled {
    opacity: 40%;
}

.linear1 {
    background: linear-gradient(180deg, rgba(70,70,70,1) 0%, rgba(123,123,123,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnControlList {
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 2px 20px 0px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
}

.txtInfoAluno {
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #DBD8D8;
    box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
    color: #2F2F2F;
}

/* Escondidos na versão PC */
#divBotaoEditarMobile,
#divBotoesEdicaoMobile,
#divTitInfoAluno {
    display: none;
}

/* Responsivo MOBILE */
@media (max-width: 1200px) {
    .MobileInvisible {
        background: none !important;
        background-color: transparent !important;
        border-radius: 0px !important;
        box-shadow: none !important;
        border: none !important;
        padding: 0px !important;
    }

    #marcadorPagina {
        display: none;
    }

    #paginaEsquerda {
        z-index: 0;
        width: 100%;
    }

    #paginaDireita {
        z-index: 1;
        width: 94vw;
        /* display: none; */
        padding: 2vh 3vw !important;
        position: absolute;
        top: 13vh;
        bottom: 3vh;
        left: 3vw;
        right: 3vw;
        background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(170,169,169,1) 100%) !important;
        border-radius: 5px !important;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #msgListaAlunoMobile {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 12px;
        margin-top: 2vh;
    }

    #listaAlunos div:first-child {
        margin-top: 1vh;
    }

    #divGrupoPC1, #divGrupoPC2 {
        gap: 1vh;
        display: flex;
        margin-top: 1vh;
        flex-direction: column;
    }

    #divGrupoPC1 > div, #divGrupoPC2 > div {
        width: 100%;
    }

    #conteudoPagDir {
        background-color: #EAEAEA !important;
        border-radius: 10px !important;
        overflow-y: auto;
        height: 84%;
    }

    #divInfoAluno {     
        min-height: 100%;
        padding: 5vh 4vw;
        /* border-radius: 0px !important; */
        box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 4px 0px inset;
    }

    #divBotaoEditar, #divBotoesEdicao {
        display: none;
    }

    #divBotaoEditarMobile {
        display: block;
        margin: 0px;
    }

    #divBotoesEdicaoMobile {
        display: none;
        justify-content: space-between;
        gap: 15px;
    }

    #btnEditarMobile {
        height: 45px;
        /*display: block;*/
        font-size: 20px;
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
        background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(159,159,159,1) 100%);
    }

    #btnCancelarMobile {
        height: 45px;
        font-size: 16px;
        width: 50%;
        border: none;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
        background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(159,159,159,1) 100%);
    }

    #btnSalvarMobile {
        height: 45px;
        color: #FFFFFF;
        width: 50%;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
        background: linear-gradient(180deg, rgba(85,163,109,1) 0%, rgba(102,194,73,1) 100%);
    }

    #divTitInfoAluno {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 20px;
        height: 40px;
        gap: 4vw;
    }

    #divTitInfoAluno > span {
        font-weight: 700;
    }

    #btnVoltarModal {
        border: none;
        border-radius: 10px;
        padding: 10px 15px 3px 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
    }
}