@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar alunos";
}

<link rel="stylesheet" href="~/css/Aluno/Index.css">

<div id="capaLivro">
    <div id="paginaEsquerda">
        <div id="conteudoPagEsq">
            <div id="marcadorPagina"></div>

            <div id="divBusca">
                <input id="txtBusca" type="text" placeholder="Digite o nome do aluno..." />
                <button id="btnPesquisar">Pesquisar</button>
            </div>

            <div id="listaAlunos">
                <div>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                    <button>Allyne Mariana</button>
                </div>
                <div>
                    <span><b>Página 1 de 50</b></span>
                    <button id="btnNext">
                        <i class="fa-solid fa-angle-right arrow-icon"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div id="paginaDireita"></div>
</div>