@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar alunos";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Alunos";
}

<link rel="stylesheet" href="~/css/Aluno/Index.css">
<link rel="stylesheet" href="~/css/Shared/Livro.css">
<link rel="stylesheet" href="~/css/Shared/Crop.css">

<!-- CROP DA IMAGEM -->
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
<script src="https://unpkg.com/cropperjs"></script>

<div id="modalRecorteImagem">
    <div id="conteudoModelRecorteImagem">
        <span class="linear1">Recortar Imagem</span>
        <div><img id="imgParaRecorte" /></div>
        <button id="btnCancelarCorte" onclick="FecharModal()">Cancelar corte</button>
        <button id="btnConfirmarCorte" onclick="ConfirmarCorte()">Confirmar corte</button>
    </div>
</div>

<canvas id="canvasRecortado" style="display:none;"></canvas>

<!-- LIVRO -->

<div id="divLivro">
    <div id="capaLivro" class="MobileInvisible">
        <div id="paginaEsquerda" class="MobileInvisible">

            <div id="conteudoPagEsq" class="MobileInvisible">
                <div id="marcadorPagina"></div>

                <div id="divBusca">
                    <input id="txtBusca" type="text" placeholder="Digite o nome do aluno..." />
                    <button id="btnPesquisar" onclick="carregarListaAlunos()"><b class="linear1">Pesquisar</b></button>
                </div>

                <div id="msgListaAluno" class="divMsgSelecione">
                    <span class="linear1">Digite o nome do aluno e aperte em “Pesquisar!”</span>
                </div>

                <div id="msgListaAlunoMobile">
                    <span>Aperte no Aluno para ver suas informações!</span>
                </div>

                <div id="divListaAluno"></div>
            </div>

        </div>
        <div id="paginaDireita" class="MobileInvisible">

            <div id="divTitInfoAluno">
                <button id="btnVoltarModal" onclick="voltarMobile()">
                    <i class="fa-solid fa-angle-left arrow-icon"></i>
                </button>
                <span class="linear1">Informações do aluno</span>
            </div>

            <div id="conteudoPagDir" class="MobileInvisible">
                <div id="msgInfoAluno" class="divMsgSelecione">
                    <span class="linear1">Selecione um aluno para ver suas informações!</span>
                </div>

                <div id="divInfoAluno" style="display:none;"></div>
            </div>

            <div id="divBotaoEditarMobile">
                <button id="btnEditarMobile" onclick="carregarEdicaoAluno(true)"><b class="linear1">Editar aluno</b></button>
            </div>

            <div id="divBotoesEdicaoMobile">
                <button id="btnCancelarMobile" onclick="cancelarEdicaoAluno(true)"><b class="linear1">Cancelar edição</b></button>
                <button id="btnSalvarMobile" onclick="salvarInfoAluno(true)"><b>Salvar</b></button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    let cropper;
    let imagemBase64;
    let infoAlunoTemp;

    function extrairBase64DeImagem(elementoImagem) {
        const src = elementoImagem.src;
        if (src.startsWith('data:image/'))
            return src;
        else
            return null;
    }

    function base64ToBlob(base64) {
        const binaryString = atob(base64.split(',')[1]);
        const len = binaryString.length;
        const bytes = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return new Blob([bytes], { type: 'image/png' });
    }

    document.addEventListener("DOMContentLoaded", carregarListaAlunos);

    function carregarListaAlunos(atualizarInfoAluno = true) {
        event.preventDefault();

        if (atualizarInfoAluno) {
            $('#divInfoAluno').empty();
            $('#divInfoAluno').hide();
            $('#msgInfoAluno').show();
        }

        $('#divListaAluno').empty();
        $('#msgListaAluno').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("ListarAlunos", "Aluno")',
            type: 'GET',
            async: true,
            data: {
                Busca: Busca
            },
            success: function (data) {
                $('#msgListaAluno').hide();
                $('#divListaAluno').html(data);
            }
        });
    }

    function carregarInfoPadrao(param) { //Implementando a função de carregamento de informação do aluno
        event.preventDefault();

        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#paginaDireita').css('display', 'flex');
            $('#backgroundModal').css('display', 'block');
        }

        $('#divInfoAluno').empty();
        $('#divInfoAluno').hide();
        $('#msgInfoAluno').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("CarregarInfoAluno", "Aluno")',
            type: 'GET',
            async: true,
            data: {
                DsCpf: param
            },
            success: function (data) {
                $('#msgInfoAluno').hide();
                $('#divInfoAluno').html(data);
                $('#divInfoAluno').show();
            }
        });
    }

    function carregarEdicaoAluno(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotaoEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'flex');
        }
        else {
            $('#divBotaoEditar').css('display', 'none');
            $('#divBotoesEdicao').css('display', 'flex');
        }       

        $('#divImgAluno > div:last-child').css('display', 'flex');

        $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
            .css('background-color', '#FFFFFF')
            .removeAttr('disabled');

        const imagem = document.getElementById('imgAluno');
        const base64 = extrairBase64DeImagem(imagem);

        if (base64) {
            imagemBase64 = base64;
        }

        infoAlunoTemp = {
            CdUsuario: $('#CdUsuario').val(),
            DsCpf: $('#DsCpf').val(),
            NmUsuario: $('#txtNomeAluno').val(),
            DsEmail: $('#txtEmailAluno').val(),
            DsGenero: parseInt($('#txtGeneroAluno').val()),
            DtNascimento: $('#txtNascimentoAluno').val(),
            DsTelefone: $('#txtTelefoneAluno').val(),
            DsFoto: imagemBase64
        }
    }

    function cancelarEdicaoAluno(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotaoEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
        }
        else {
            $('#divBotaoEditar').css('display', 'flex');
            $('#divBotoesEdicao').css('display', 'none');
        }

        $('#divImgAluno > div:last-child').css('display', 'none');

        $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
            .css('background-color', '#DBD8D8')
            .attr('disabled', true);

        if (infoAlunoTemp) {
            $('#txtNomeAluno').val(infoAlunoTemp.NmUsuario);
            $('#txtEmailAluno').val(infoAlunoTemp.DsEmail);
            $('#txtGeneroAluno').val(infoAlunoTemp.DsGenero);
            $('#txtNascimentoAluno').val(infoAlunoTemp.DtNascimento);
            $('#txtTelefoneAluno').val(infoAlunoTemp.DsTelefone);

            if (!!infoAlunoTemp.DsFoto) {
                const imgAluno = document.getElementById('imgAluno');
                imgAluno.src = infoAlunoTemp.DsFoto;
                imgAluno.style.display = 'block';
            }
            else {
                ExcluirFoto();
            }

            infoAlunoTemp = null;
        }
    }

    function salvarInfoAluno(mobile = false) {
        event.preventDefault();

        //Atualiza os valores pós edição
        infoAlunoTemp = {
            CdUsuario: $('#CdUsuario').val(),
            DsCpf: $('#DsCpf').val(),
            NmUsuario: $('#txtNomeAluno').val(),
            DsEmail: $('#txtEmailAluno').val(),
            DsGenero: parseInt($('#txtGeneroAluno').val()),
            DtNascimento: $('#txtNascimentoAluno').val(),
            DsTelefone: $('#txtTelefoneAluno').val(),
            DsFoto: imagemBase64
        }

        let ResponseModelUsuario = new FormData();
        
        if (!!imagemBase64) {
            const fotoBlob = base64ToBlob(imagemBase64);
            ResponseModelUsuario.append('DsFoto', fotoBlob, 'foto.png');
        }

        ResponseModelUsuario.append('CdUsuario', infoAlunoTemp.CdUsuario);
        ResponseModelUsuario.append('NmUsuario', infoAlunoTemp.NmUsuario);
        ResponseModelUsuario.append('DsEmail', infoAlunoTemp.DsEmail);
        ResponseModelUsuario.append('DsCpf', infoAlunoTemp.DsCpf);
        ResponseModelUsuario.append('DsTelefone', infoAlunoTemp.DsTelefone.replace(/\D/g, ''));
        ResponseModelUsuario.append('DsGenero', infoAlunoTemp.DsGenero);
        ResponseModelUsuario.append('DtNascimento', infoAlunoTemp.DtNascimento);
        
        $.ajax({
            url: '@Url.Action("AtualizarInfoAluno", "Aluno")',
            type: 'POST',
            processData: false,
            contentType: false,
            data: ResponseModelUsuario,
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (mobile) {
                    $('#divBotaoEditarMobile').css('display', 'flex');
                    $('#divBotoesEdicaoMobile').css('display', 'none');
                }
                else {
                    $('#divBotaoEditar').css('display', 'flex');
                    $('#divBotoesEdicao').css('display', 'none');
                }

                $('#divImgAluno > div:last-child').css('display', 'none');

                $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
                    .css('background-color', '#DBD8D8')
                    .attr('disabled', true);

                carregarListaAlunos(false);
                infoAlunoTemp = null;
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function voltarMobile() {
        event.preventDefault();

        $('#paginaDireita').css('display', 'none');
        $('#backgroundModal').css('display', 'none');

        cancelarEdicaoAluno(true);
    }

    function TrocarFoto() {
        document.getElementById('inputTrocarFoto').click();

        document.getElementById('inputTrocarFoto').onchange = function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {

                    const imgParaRecorte = document.getElementById('imgParaRecorte');
                    imgParaRecorte.src = e.target.result;

                    document.getElementById('modalRecorteImagem').style.display = 'flex';
                                        
                    if (cropper) {
                        cropper.destroy();
                    }

                    cropper = new Cropper(imgParaRecorte, {
                        aspectRatio: 1,
                        viewMode: 1,
                        zoomable: false,
                    });

                };
                reader.readAsDataURL(file);
            }
        };
    }

    function ConfirmarCorte() {
        const canvas = cropper.getCroppedCanvas({
            width: 122,
            height: 122,
        });

        const imgAluno = document.getElementById('imgAluno');
        imgAluno.src = canvas.toDataURL();
        imgAluno.style.display = 'block';

        imagemBase64 = canvas.toDataURL('image/png');

        FecharModal();
    }

    function FecharModal() {
        document.getElementById('modalRecorteImagem').style.display = 'none';
        document.getElementById('inputTrocarFoto').value = '';
        cropper.destroy();
    }

    function ExcluirFoto() {
        const imgAluno = document.getElementById('imgAluno');
        imgAluno.removeAttribute('src');
        imgAluno.style.display = 'none';
        document.getElementById('inputTrocarFoto').value = '';
        imagemBase64 = null;

        if (cropper)
            cropper.destroy();
    }

</script>