@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar alunos";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Alunos";
}

<link rel="stylesheet" href="~/css/Aluno/Index.css">
<link rel="stylesheet" href="~/css/Shared/Livro.css">

<!-- LIVRO -->

<div id="divLivro">
    <div id="capaLivro" class="MobileInvisible">
        <div id="paginaEsquerda" class="MobileInvisible">

            <div id="conteudoPagEsq" class="MobileInvisible">
                <div id="marcadorPagina"></div>

                <div id="divBusca">
                    <input id="txtBusca" type="text" placeholder="Digite o nome do aluno..." />
                    <button id="btnPesquisar" onclick="carregarListaAlunos()"><b class="linear1">Pesquisar</b></button>
                </div>

                <div id="msgListaAluno" class="divMsgSelecione">
                    <span class="linear1">Digite o nome do aluno e aperte em “Pesquisar!”</span>
                </div>

                <div id="divListaAluno"></div>
            </div>

        </div>
        <div id="paginaDireita" class="MobileInvisible">

            <div id="divTitInfoAluno">
                <button id="btnVoltarModal" onclick="voltarMobile()">
                    <i class="fa-solid fa-angle-left arrow-icon"></i>
                </button>
                <span class="linear1">Informações do aluno</span>
            </div>

            <div id="conteudoPagDir" class="MobileInvisible">
                <div id="msgInfoAluno" class="divMsgSelecione">
                    <span class="linear1">Selecione um aluno para ver suas informações!</span>
                </div>

                <div id="divInfoAluno" style="display:none;"></div>
            </div>

            <div id="divBotaoEditarMobile">
                <button id="btnEditarMobile" onclick="carregarEdicaoAluno(true)"><b class="linear1">Editar aluno</b></button>
            </div>

            <div id="divBotoesEdicaoMobile">
                <button id="btnCancelarMobile" onclick="cancelarEdicaoAluno(true)"><b class="linear1">Cancelar edição</b></button>
                <button id="btnSalvarMobile" onclick="salvarInfoAluno(true)"><b>Salvar</b></button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    let infoAlunoTemp;

    document.addEventListener("DOMContentLoaded", carregarListaAlunos);

    function carregarListaAlunos(atualizarInfoAluno = true) {
        event.preventDefault();

        if (atualizarInfoAluno) {
            $('#divInfoAluno').empty();
            $('#divInfoAluno').hide();
            $('#msgInfoAluno').show();
        }

        $('#divListaAluno').empty();
        $('#msgListaAluno').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("ListarAlunos", "Aluno")',
            type: 'GET',
            async: true,
            data: {
                Busca: Busca
            },
            success: function (data) {
                $('#msgListaAluno').hide();
                $('#divListaAluno').html(data);
            }
        });
    }

    function carregarInfoPadrao(param) { //Implementando a função de carregamento de informação do aluno
        event.preventDefault();

        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#paginaDireita').css('display', 'flex');
            $('#backgroundModal').css('display', 'block');
        }

        $('#divInfoAluno').empty();
        $('#divInfoAluno').hide();
        $('#msgInfoAluno').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("CarregarInfoAluno", "Aluno")',
            type: 'GET',
            async: true,
            data: {
                DsCpf: param
            },
            success: function (data) {
                $('#msgInfoAluno').hide();
                $('#divInfoAluno').html(data);
                $('#divInfoAluno').show();
            }
        });
    }

    function carregarEdicaoAluno(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotaoEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'flex');
        }
        else {
            $('#divBotaoEditar').css('display', 'none');
            $('#divBotoesEdicao').css('display', 'flex');
        }       

        $('#divImgAluno > div:last-child').css('display', 'flex');

        $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
            .css('background-color', '#FFFFFF')
            .removeAttr('disabled');

        infoAlunoTemp = {
            NmUsuario: $('#txtNomeAluno').val(),
            DsEmail: $('#txtEmailAluno').val(),
            DsGenero: $('#txtGeneroAluno').val(),
            DtNascimento: $('#txtNascimentoAluno').val(),
            DsTelefone: $('#txtTelefoneAluno').val()
        }
    }

    function cancelarEdicaoAluno(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotaoEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
        }
        else {
            $('#divBotaoEditar').css('display', 'flex');
            $('#divBotoesEdicao').css('display', 'none');
        }

        $('#divImgAluno > div:last-child').css('display', 'none');

        $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
            .css('background-color', '#DBD8D8')
            .attr('disabled', true);

        $('#txtNomeAluno').val(infoAlunoTemp.NmUsuario);
        $('#txtEmailAluno').val(infoAlunoTemp.DsEmail);
        $('#txtGeneroAluno').val(infoAlunoTemp.DsGenero);
        $('#txtNascimentoAluno').val(infoAlunoTemp.DtNascimento);
        $('#txtTelefoneAluno').val(infoAlunoTemp.DsTelefone);
    }

    function salvarInfoAluno(mobile = false) {
        event.preventDefault();

        infoAlunoTemp = {
            CdUsuario: $('#CdUsuario').val(),
            DsCpf: $('#DsCpf').val(),
            NmUsuario: $('#txtNomeAluno').val(),
            DsEmail: $('#txtEmailAluno').val(),
            DsGenero: $('#txtGeneroAluno').val(),
            DtNascimento: $('#txtNascimentoAluno').val(),
            DsTelefone: $('#txtTelefoneAluno').val()
        }

        $.ajax({
            url: '@Url.Action("AtualizarInfoAluno", "Aluno")',
            type: 'POST',
            async: true,
            data: infoAlunoTemp,
            success: function (data) {
                if (mobile) {
                    $('#divBotaoEditarMobile').css('display', 'flex');
                    $('#divBotoesEdicaoMobile').css('display', 'none');
                }
                else {
                    $('#divBotaoEditar').css('display', 'flex');
                    $('#divBotoesEdicao').css('display', 'none');
                }

                $('#divImgAluno > div:last-child').css('display', 'none');

                $('#txtNomeAluno, #txtEmailAluno, #txtGeneroAluno, #txtNascimentoAluno, #txtTelefoneAluno')
                    .css('background-color', '#DBD8D8')
                    .attr('disabled', true);

                carregarListaAlunos(false);
            }
        });
    }

    function voltarMobile() {
        event.preventDefault();

        $('#paginaDireita').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

</script>