@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar alunos";
}

<link rel="stylesheet" href="~/css/Aluno/Index.css">

<div id="capaLivro">
    <div id="paginaEsquerda">
        <div id="conteudoPagEsq">
            <div id="marcadorPagina"></div>
        </div>
    </div>
    <div id="paginaDireita"></div>
</div>