@model WEB.Models.EsqueciSenha.EsqueciSenhaViewModel

@{
    Layout = "_LayoutInicio";
    ViewData["Title"] = "Esqueci a senha";
}

<link rel="stylesheet" href="~/css/EsqueciSenha/Index.css">

<div id="Rota">
    <a onclick="redirecionarParaLogin()" style="cursor: pointer"><span>Login</span></a>
    <span>> Esqueci a senha</span>
</div>

<div id="Titulo">    
    <p>Esqueci a senha</p>
</div>

<div id="divBtnVoltar">
    <button id="btnVoltar" onclick="redirecionarParaLogin()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar</button>
</div>

<form id="EsqueciSenhaForm" asp-controller="EsqueciSenha" asp-action="EsqueciSenhaForm" method="post">
    <div id="Email">
        <p>Digite o seu e-mail para enviarmos um código de recuperação:</p>
        <input asp-for="Email" id="txtEmail" type="text" placeholder="&#xf0e0; Digite o seu e-mail..." />
    </div>
    <div id="divBtnEnviarCodigo">
        <button id="btnEnviarCodigo">Enviar código</button>
    </div>
</form>


<script>
    function redirecionarParaLogin() {
        window.location.href = '@Url.Action("Index", "Login")';
    }

    document.getElementById("divBtnEnviarCodigo").addEventListener("click", function() {
        document.getElementById("EsqueciSenhaForm").submit();
    });
</script>