@model WEB.Models.EsqueciSenha.EsqueciSenhaViewModel

@{
    Layout = "_LayoutInicio";
    ViewData["Title"] = "Esqueci a senha";
}

<link rel="stylesheet" href="~/css/EsqueciSenha/RedefinirSenha.css">

<div id="Titulo">
    <p>Trocar a senha</p>
</div>

<form id="RedefinirSenhaForm" asp-controller="EsqueciSenha" asp-action="RedefinirSenhaForm" method="post">
    <label for="divNovaSenha">Digite a sua nova senha:</label>
    <div id="divNovaSenha">
        <input id="txtNovaSenha" type="password" placeholder=" &#xf023; Digite a sua nova senha..." />
        <button class="btnSeePass" type="button" onclick="togglePassword(this)">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
    </div>

    <label for="divConfirmaSenha">Confirme a senha:</label>
    <div id="divConfirmaSenha">
        <input id="txtConfirmaSenha" type="password" placeholder=" &#xf023; Confirme a senha..." />
        <button class="btnSeePass" type="button" onclick="togglePassword(this)">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
    </div>

    <span id="msgErro">As senhas não conferem.</span>

    <div id="divBtnEntrar">
        <button id="btnEntrar">Trocar Senha</button>
    </div>
</form>

<script>
    function togglePassword(button) {
        var passwordInput = button.previousElementSibling;  // Seleciona o input de senha anterior ao botão
        var btnSeePassIcon = button.querySelector("i");     // Seleciona o ícone dentro do botão

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            btnSeePassIcon.classList.remove("fa-eye");
            btnSeePassIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            btnSeePassIcon.classList.remove("fa-eye-slash");
            btnSeePassIcon.classList.add("fa-eye");
        }
    }

    document.getElementById("btnEntrar").addEventListener("click", function () {
        document.getElementById("RedefinirSenhaForm").submit();
    });

    document.getElementById("txtNovaSenha").addEventListener("input", function () {
        document.getElementById("msgErro").style.display = "none";
    });

    document.getElementById("txtConfirmaSenha").addEventListener("input", function () {
        document.getElementById("msgErro").style.display = "none";
    });
</script>