<link rel="stylesheet" href="~/css/Chamada/InfoAula.css">

<div id="divAlunosTurma">
    <div id="TituloInfoAula">
        <div id="TituloBotaoAula">
            <div style="font-size: 15px;" class="linear1">Aulas:</div>
            <div id="descAulaTip" class="linear1">Clique na aula para abrir a chamada!</div>
        </div>
    </div>

    <div id="divRelevo">
        <div id="divAulas">
            @for (int i = 0; i < 3; i++) {
                <div id="divAula" onclick="verInfoAula()">
                    <div id="topoAula">
                        <div id="infoAula">
                            <h5 class="linear1"><b>Desenvolvimento de Sistemas</b></h5>
                            <p class="linear1">21/01/2024</p>
                        </div>
                        <div id="InfoNumeroChamada">
                            <h5 class="linear1"><b>Presenças</b></h5>
                            <h3 class="linear1"><b>5</b></h3>
                        </div>
                    </div>
                    <div id="infoChamada">
                        <div id="divChamada" class="comChm">C/Chamada</div>
                    </div>
                    <br />

                    <div id="descAula" class="linear1">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="divFooterPagina">
    <button type="button" id="btnCriarAula">Criar aula <i class="fa fa-external-link"></i></button>
</div>

<script type="text/javascript">
    function verInfoAula() {
        $.ajax({
            url: '@Url.Action("CarregarInfoAula", "Chamada")',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#_divInfoAula').html(data);

                $('#backgroundModal').css('display', 'block');
                $('#divInformacaoAula').css('display', 'flex');
            }
        });
    }
</script>