@using WEB.Models.Shared;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Chamada";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Chamada";


    var ListaTurmas = ViewBag.ListaTurmas ?? new List<ListarPadraoViewModel.ItemListaPadrao?>();
}

<link rel="stylesheet" href="~/css/Chamada/Index.css">

<div id="divInicioPagina">
    <div id="divTopo">
        <div id="divTurmaCheckbox">
            <div id="divDdlTurma">
                <label for="divTurma" class="linear1">Selecione a turma:</label><br />
                <select id="ddlTurma" class="txtFormato" onchange="verificarTurma()">
                    <option value="-1" selected>Selecione</option>
                    @foreach (ListarPadraoViewModel.ItemListaPadrao? item in ListaTurmas) {
                        <option value="@item.Id">@item.Text</option>
                    }
                </select>
            </div>
            <div id="divCheckbox">
                <div id="cChamada">
                    <input type="checkbox" id="idcChamada" onchange="verificarTurma()" checked />
                    <label for="idcChamada">C/Chamada</label>
                </div>
                <div id="sChamada">
                    <input type="checkbox" id="idsChamada" onchange="verificarTurma()" checked />
                    <label for="idsChamada">S/Chamada</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divPagina">
    <div id="_divListaAulas"></div>

    <div id="divInfoModal">
        <div id="_divInfoAula"></div>
    </div>
</div>

<script type="text/javascript">
    function verificarTurma() {
        $('#ddlTurma').find("option[value='-1']").remove();
        carregarListaAulas();
    }

    function carregarListaAulas() {
        var cdTurma = $('#ddlTurma').val();

        let IcChamada = null;
        if (!$('#idcChamada').is(":checked") && !$('#idsChamada').is(":checked")) {
            ExibirInfo('Selecione ao menos um filtro!', 'Atenção!');
            return;
        }

        if ($('#idcChamada').is(":checked") && !$('#idsChamada').is(":checked")) {
            IcChamada = true;
        }
        if (!$('#idcChamada').is(":checked") && $('#idsChamada').is(":checked")) {
            IcChamada = false;
        }

        $.ajax({
            url: '@Url.Action("ListarAulas", "Chamada")',
            type: 'GET',
            async: true,
            data: {
                cdTurma: cdTurma,
                icChamada: IcChamada,
            },
            success: function (data) {
                $('#_divListaAulas').html(data);
            }
        });
    }

    function voltarAula() {
        $('#divInformacaoAula').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

    function voltarModalInfo() {
        $('#divModalInfoMobile').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
    }

    function voltarModalAdicionar() {
        $('#divModalAdicionar').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
    }

</script>
