@model WEB.Models.Login.LoginViewModel

@{
    Layout = "_LayoutInicio";
    ViewData["Title"] = "Esqueci a senha";
}

<link rel="stylesheet" href="~/css/Login/EsqueciSenha1.css">

<div id="Rota">
    <a href="#"><span>Login</span></a>
    <span>> Esqueci a senha</span>
</div>

<div id="Titulo">    
    <p>Esqueci a senha</p>
</div>

<div id="divBtnVoltar">
    <button id="btnVoltar"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar</button>
</div>

<form id="EsqueciSenhaForm" asp-controller="Login" asp-action="EsqueciSenhaForm" method="post">
    <div id="Email">
        <p>Digite o seu e-mail para enviarmos um código de recuperação:</p>
        <input asp-for="Email" id="txtEmail" type="text" placeholder="&#xf0e0; Digite o seu e-mail..." />
    </div>
</form>

<div id="divBtnEnviarCodigo">
    <button id="btnEnviarCodigo">Enviar código</button>
</div>