@{
    Layout = "_LayoutInicio";
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login/Index.css">

<div id="Titulo">
    <p>Login</p>
    <p>Por favor, entre para continuar.</p>
</div>

<form>
    <div id="divEmail">
        <label for="txtEmail">E-mail</label>
        <input id="txtEmail" class="textInput" type="text" placeholder="Digite o seu e-mail..." />
    </div>

    <label for="Senha">Senha</label>
    <div id="Senha">
        <input id="txtSenha" class="textInput" type="text" placeholder="Digite a sua senha..." />
        <button id="btnSeePass"></button>
    </div>

    <span>E-mail e/ou senha inválido.</span>
</form>
<a href="#">Esqueci a senha.</a>

<div id="divBtnEntrar">
    <button id="btnEntrarLogin">Entrar</button>
</div>
