<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nova Era</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- MONTSERRAT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ÍCONES -->

    <style type="text/css">
        * {
            font-family: "Montserrat", sans-serif;
        }

        body {
            margin: 0;
            display: flex;
            align-content: center;
            background-color: #F2F2F2;
        }

        aside {
            width: 23vw;
            height: 100vh;
            border-radius: 0 10px 10px 0; 
            display: block;
            background: rgb(79,0,62);
            background: linear-gradient(180deg, rgba(79,0,62,1) 0%, rgba(107,0,85,1) 25%, rgba(167,81,138,1) 52%);
            padding: 35px 2vw;
            overflow-y: scroll;
        }

        aside nav {
            display: flex;
            justify-content: space-between;
        }

        #logoNavDesktop {
            width: 100%;
            max-width: 180px;
            height: auto;
        }

        #logoNavMobile {
            display: none;
        }

        #btnOpenSidebar, #btnCloseSidebar {
            height: 50px;
            width: 50px;
            background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(159,159,159,1) 100%);
            border-radius: 10px;
        }

        #btnCloseSidebar {
            display: none;
        }

        i {
            background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(51,51,51,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.5rem;
        }

        #Botoes {
            margin-top: 100px;
        }

        button {
            border: none;
        }

        #Botoes > div > button {
            width: 100%;
            min-height: 55px;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(159,159,159,1) 100%);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
            padding: 0 15px 0 15px;
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 4%;
        }

        #Botoes > div > button > b {
            background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(51,51,51,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .sec {
            margin-top: 30px;
            border-radius: 10px 10px;
        }

        .sec i, .collap > button > i {
            width: 2rem;
        }

        .arrow-icon {
            transition: transform 0.3s ease;
        }

        .arrow-icon.rotate-up {
            transform: rotate(180deg);
        }

        .arrow-icon.rotate-down {
            transform: rotate(0deg);
        }

        .collap {
            max-height: 0; /* Start with zero height */
            overflow: hidden; /* Hide content that overflows */
            transition: max-height 0.3s ease-out; /* Transition for smooth animation */
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
            border-radius: 0 0 10px 10px;
            margin: 1px;
        }

        .collap.expanded {
            max-height: 200px; /* Set a max-height that is enough to fit the content */
        }

        .collap > button {
            width: 100%;
            min-height: 45px;
            border: none;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) inset;
            text-align: left;
            background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(51,51,51,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1rem;
            font-weight: 700;
        }

        .collap > button:last-child {
            border-radius: 0 0 10px 10px;
        }

        main {
            height: 100vh;
        }

        .Mobile {
            display: none;
        }

        article {
            width: 50vw;
            padding: 5vh 5vw;
        }

        @@media (max-width: 1500px) {
            #logoNavMobile {
                display: block;
                height: 50px;
            }

            #logoNavDesktop {
                display: none;
            }
        }

        @@media (max-width: 1200px) {
            body {
                background: rgb(226,226,226);
                background: linear-gradient(180deg, rgba(226,226,226,1) 0%, rgba(73,2,58,1) 25%, rgba(167,81,138,1) 100%);
            }

            .Mobile {
                margin: 0;
                height: 20vh;
                width: 100vw;
                font-size: 5vw;
                background-color: #F2F2F2;
                border-radius: 10px;
                box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.3);
                background-image: url("../img/logo_navbar_bg.png");
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            aside {
                display: none;
            }

            article {
                width: 100vw;
                padding: 5vh 10vw;
            }
        }
    </style>
</head>
<body>
    <aside id="aside">
        <nav>
            <img id="logoNavMobile" src="~/img/logo_sidebar_mobile.png"/>
            <img id="logoNavDesktop" src="~/img/logo_sidebar.png"/>

            <button id="btnOpenSidebar" onclick="toggleSidebar('true')">
                <i class="fa-solid fa-arrow-left"></i>
            </button>

            <button id="btnCloseSidebar">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </nav>

        <div id="Botoes">
            <div id="secTurma" class="sec">
                <button id="btnCollapsibleTurma" onclick="toggleCollapsible('btnCollapsibleTurma','collapTurma','secTurma')">
                    <i class="fa-solid fa-school"></i>
                    <b>Turmas</b>
                    <i class="fa-solid fa-angle-down arrow-icon"></i>
                </button>
                <div class="collap" id="collapTurma">
                    <button><i class="fa-solid fa-circle-plus"></i>Adicionar turma</button>
                    <button><i class="fa-solid fa-rectangle-list"></i>Listar turma</button>
                    <button><i class="fa-solid fa-file-circle-plus"></i>Cadastro de conteúdo</button>
                </div>
            </div>

            <div id="secProfessor" class="sec">
                <button id="btnCollapsibleProfessor" onclick="toggleCollapsible('btnCollapsibleProfessor','collapProfessor','secProfessor')">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <b>Professores</b>
                    <i class="fa-solid fa-angle-down arrow-icon"></i>
                </button>
                <div class="collap" id="collapProfessor">
                    <button><i class="fa-solid fa-circle-plus"></i>Adicionar professor</button>
                    <button><i class="fa-solid fa-rectangle-list"></i>Listar professor</button>
                </div>
            </div>

            <div id="secAluno" class="sec">
                <button id="btnCollapsibleAluno" onclick="toggleCollapsible('btnCollapsibleAluno','collapAluno','secAluno')">
                    <i class="fa-brands fa-google-scholar"></i>
                    <b>Alunos</b>
                    <i class="fa-solid fa-angle-down arrow-icon"></i>
                </button>
                <div class="collap" id="collapAluno">
                    <button><i class="fa-solid fa-rectangle-list"></i>Listar alunos</button>
                    <button><i class="fa-solid fa-award"></i>Emitir certificado</button>
                </div>
            </div>

            <div id="secCurso" class="sec">
                <button id="btnCollapsibleCurso" onclick="toggleCollapsible('btnCollapsibleCurso','collapCurso','secCurso')">
                    <i class="fa-solid fa-book-bookmark"></i>
                    <b>Cursos</b>
                    <i class="fa-solid fa-angle-down arrow-icon"></i>
                </button>
                <div class="collap" id="collapCurso">
                    <button><i class="fa-solid fa-circle-plus"></i>Adicionar curso</button>
                    <button><i class="fa-solid fa-rectangle-list"></i>Listar cursos</button>
                </div>
            </div>

            <div id="secMatricula" class="sec">
                <button>
                    <i class="fa-solid fa-book-open"></i>
                    <b>Matrícula</b>
                </button>
            </div>

            <div id="secChamada" class="sec">
                <button>
                    <i class="fa-solid fa-scroll"></i>
                    <b>Chamada</b>
                </button>
            </div>

            <div id="secSistema" class="sec">
                <button id="btnCollapsibleSistema" onclick="toggleCollapsible('btnCollapsibleSistema','collapSistema','secSistema')">
                    <i class="fa-solid fa-gear"></i>
                    <b>Sistema</b>
                    <i class="fa-solid fa-angle-down arrow-icon"></i>
                </button>
                <div class="collap" id="collapSistema">
                    <button><i class="fa-solid fa-circle-plus"></i>Adicionar usuário</button>
                    <button><i class="fa-solid fa-rectangle-list"></i>Listar usuários</button>
                    <button><i class="fa-solid fa-trophy"></i>Gerenciar permissões</button>
                </div>
            </div>
        </div>
    </aside>
    <main>
        <nav class="Mobile">
            <img src="~/img/logo_navbar.png" />
        </nav>
        <article>
            @RenderBody()
        </article>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ff8bf52a33.js" crossorigin="anonymous"></script>    
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        function toggleCollapsible(toggleButtonId, collapsibleContentId, secId) {
            var button = document.getElementById(toggleButtonId);
            var content = document.getElementById(collapsibleContentId);
            var sec = document.getElementById(secId);
            var downArrow = button.querySelector('.fa-angle-down');

            if (content.classList.contains('expanded')) {
                content.classList.remove('expanded'); 
                downArrow.classList.remove('rotate-up');
                downArrow.classList.add('rotate-down');
            } else {
                content.classList.add('expanded');
                sec.style.background = 'linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(159,159,159,1) 100%)';
                downArrow.classList.remove('rotate-down');
                downArrow.classList.add('rotate-up');
            }
        }
    </script>
</body>
</html>