/* Folha de estilos: Login */

/* Tags */
p, label, a {
    font-weight: 700;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(183,183,183,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form div input, button {
    border: none;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
}

form input {
    height: 40px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: Montserrat, FontAwesome;
    user-select: none;
}

form input:focus {
    outline: none;
}

form {
    margin-top: 5vh;
    padding: 5vh 2vw;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px inset;
}

form input, label {
    display: block;
    width: 100%;
 }

form label, span, a {
    margin: 10px 0 2px 0;    
}

::placeholder, i {
    font-weight: 700;
    opacity: 0.5;
}

span {
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 3vh;
    color: #FF4545;
}

a {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    text-decoration: underline;
}

/* IDs */
#Titulo {
    width: 100%;
}

#Titulo p {
    margin: 0;
}

#Titulo p:first-child {
    font-size: 70px;
}

#Titulo p:last-child {
    font-size: 30px;
}

#Senha {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
    margin: 0;
}

#Senha input {
    border-radius: 10px 0 0 10px;
}

#btnSeePass {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 0 10px 10px 0;
    box-shadow: -5px 0 5px 1px rgba(0, 0, 0, 0.3);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
}

#divBtnEntrar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10vh;
}

#btnEntrarLogin {
    color: #FFFFFF;
    border-radius: 40px;
    width: 350px;
    height: 70px;
    font-size: 20px;
    border-top: 2px solid white;
    background: rgb(85,163,109);
    background: linear-gradient(180deg, rgba(85,163,109,1) 0%, rgba(102,194,73,1) 100%);
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.3);
    font-weight: 600;
    bottom: 4vh;
    position: fixed;
}

@media (max-width: 1200px) {
    form {
        box-shadow: unset;
        margin: 0;
        padding: 6vh 0 0 0;
    }

    span {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 1vh;
    }

    a {
        display: flex;
        justify-content: flex-end;
        margin-top: 3vh;
    }

    #Titulo p:first-child {
        font-size: 40px;
    }

    #Titulo p:last-child {
        font-size: 20px;
    }

    #divBtnEntrar {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
    }

    #btnEntrarLogin {
        color: #FFFFFF;
        border-radius: 40px;
        width: 80vw;
        height: 6vh;
        font-size: 2vh;
        background: rgb(85,163,109);
        background: linear-gradient(180deg, rgba(85,163,109,1) 0%, rgba(102,194,73,1) 100%);
        box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.3);
        border-top: 2px solid white;
        font-weight: 700;
    }
}