<link rel="stylesheet" href="~/css/CadastroConteudo/InfoAula.css">
<link rel="stylesheet" href="~/css/CadastroConteudo/Index.css">

<div id="divModalAdicionar">
    <div id="divTituloModal">
        <button id="btnVoltarModal" onclick="voltarModalAdicionar()">
            <i class="fa-solid fa-angle-left arrow-icon">   </i>
        </button>
        <h5 class="linear1"><b>Adicionar arquivo</b></h5>
        <p> </p>
    </div>


    <div id="divConteudoModal">
        <label for="txtFile" id="btnFile" class="linear1">
            Selecione o arquivo
        </label>

        <input id="txtFile" type="file" class="txtFormato" />

        <br/>

        <label for="txtNomeArquivoModal" class="linear1">Nome:</label>
        <input type="text" id="txtNomeArquivoModal" class="txtFormato" disabled/>

        <label for="txtTipoArquivoModal" class="linear1">Tipo:</label>
        <input type="text" id="txtTipoArquivoModal" class="txtFormato" disabled/>

        <label for="txtTamanhoArquivoModal" class="linear1">Tamanho:</label>
        <input type="text" id="txtTamanhoArquivoModal" class="txtFormato" disabled/>

        <label for="txtDescricaoArquivoModal" class="linear1">Descrição:</label>
        <textarea type="text" id="txtDescricaoArquivoModal" class="txtFormato"></textarea>
    </div>
    
    <div id="divFooterModal">
        <button type="button" id="btnSalvarArquivo" onclick="adicionarArquivo()">Adicionar arquivo</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        console.log('Teste1');

        document.getElementById('txtFile').onchange = function (event) {
            console.log('Teste2');

            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    console.log('Teste3');

                    // Extrair nome
                    const fileName = file.name.substring(0, file.name.lastIndexOf('.')); // Nome sem extensão

                    // Extrair extensão do arquivo
                    const fileExtension = file.name.slice(file.name.lastIndexOf('.')); // Só a extensão

                    console.log(fileName);
                    console.log(fileExtension);
                    console.log((file.size / 1048576).toFixed(2) + ' MB');

                    $('#txtNomeArquivoModal').val(fileName);        // Nome do arquivo
                    $('#txtTipoArquivoModal').val(fileExtension);   // Extensão do arquivo
                    $('#txtTamanhoArquivoModal').val((file.size / 1048576).toFixed(2) + ' MB'); // Tamanho em MB

                };
                reader.readAsDataURL(file);
            }
        };
    });

    function adicionarArquivo() {
        alert('adicionar arquivo');
    }

</script>