@{
    Layout = "_Layout";
    ViewData["Title"] = "Cadastro de conteúdo";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Cadastro de conteúdo";

    List<WEB.Models.Shared.ListarPadraoViewModel.ItemListaPadrao> ListaTurma = ViewBag.ListaTurma ?? new List<WEB.Models.Shared.ListarPadraoViewModel.ItemListaPadrao>();
}

<link rel="stylesheet" href="~/css/CadastroConteudo/Index.css">

<div id="divInicioPagina">
    <div id="divTopo">
        <div id="divTurmaCheckbox">
            <div id="divDdlTurma">
                <label for="divTurma" class="linear1">Selecione a turma:</label><br />
                <select id="ddlTurma" class="txtFormato" onchange="return verificarTurma();">
                    <option value="-1">Selecione</option>

                    @foreach (var Turma in ListaTurma)
                    {
                        <option value="@Turma.Id">@Turma.Text</option>
                    }

                </select>
            </div>
            <div id="divCheckbox">
                <div id="cArquivo">
                    <input type="checkbox" id="idCArquivo" onchange="return verificarTurma();" checked />
                    <label for="idCArquivo">C/Arquivo</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divPagina">
    <div id="_divListaAulas"></div>

    <div id="divInfoModal">
        <div id="_divInfoAula"></div>
    </div>
</div>

<script type="text/javascript">

    let CdConteudoTemp;
    let ArquivoBase64;

    // document.addEventListener("DOMContentLoaded", carregarListaMatriculados);
    // document.addEventListener("DOMContentLoaded", carregarListaNaoMatriculados);

    function verificarTurma() {
        var valorDdl = $('#ddlTurma').val();
        if (valorDdl == -1) {
            ExibirInfo('Escolha uma turma.');
            return false;
        }

        const chkArquivo = $('#idCArquivo').is(':checked');

        carregarListaAulas(valorDdl, chkArquivo);
        return true;
    }

    function carregarListaAulas(CdTurma, icConteudo) {
        $.ajax({
            url: '@Url.Action("ListarAulas", "CadastroConteudo")',
            type: 'GET',
            data: {
                CdTurma: CdTurma,
                icConteudo: icConteudo
            },
            async: true,
            success: function (data) {
                $('#_divListaAulas').html(data);
            }
        });
    }

    function voltarAula() {
        $('#divInformacaoAula').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

    function voltarModalInfo() {
        $('#divModalInfoMobile').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
    }

    function voltarModalAdicionar() {
        $('#divModalAdicionar').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
        ArquivoBase64 = null;
    }

</script>
