@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar permissões";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Permissões";
}

<link rel="stylesheet" href="~/css/Permissao/Index.css">
<link rel="stylesheet" href="~/css/Shared/Livro.css">

<!-- LIVRO -->

<div id="divLivro">
    <div id="capaLivro" class="MobileInvisible">
        <div id="paginaEsquerda" class="MobileInvisible">

            <div id="conteudoPagEsq" class="MobileInvisible">
                <div id="marcadorPagina"></div>

                <div id="divListaCargoPermissao"></div>
            </div>

        </div>
        <div id="paginaDireita" class="MobileInvisible">

            <div id="divTitInfoCargoPermissao">
                <button id="btnVoltarModal" onclick="voltarMobile()">
                    <i class="fa-solid fa-angle-left arrow-icon"></i>
                </button>
                <span class="linear1">Permissões do cargo</span>
            </div>

            <div id="conteudoPagDir" class="MobileInvisible">
                <div id="msgInfoCargo" class="divMsgSelecione">
                    <span class="linear1">Selecione um cargo para ver suas permissões!</span>
                </div>

                <div id="divInfoCargo" style="display:none;"></div>
            </div>
            <button id="btnSalvarMobile" onclick="salvarInfoCargo(true)"><b>Salvar</b></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", carregarListaCargos);

    function carregarListaCargos(atualizarInfoCargo = true) {
        event.preventDefault();

        if (atualizarInfoCargo) {
            $('#divInfoCargo').empty();
            $('#divInfoCargo').hide();
            $('#msgInfoCargo').show();
        }

        $('#divListaCargoPermissao').empty();
        $('#msgInfoCargo').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("ListarCargos", "Permissao")',
            type: 'GET',
            async: true,
            data: {
                Busca: Busca
            },
            success: function (data) {
                $('#msgInfoCargo').hide();
                $('#divListaCargoPermissao').html(data);
            }
        });
    }

    function carregarInfoPadrao(param) { 
        event.preventDefault();

        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#paginaDireita').css('display', 'flex');
            $('#backgroundModal').css('display', 'block');
        }

        $('#divInfoCargo').empty();
        $('#divInfoCargo').hide();
        $('#msgInfoCargo').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("CarregarInfoCargo", "Permissao")',
            type: 'GET',
            async: true,
            data: {
                DsCpf: param
            },
            success: function (data) {
                $('#msgInfoCargo').hide();
                $('#divInfoCargo').html(data);
                $('#divInfoCargo').show();
            }
        });
    }

    function salvarInfoCargo(mobile = false) {
        event.preventDefault();

        $.ajax({
            url: '@Url.Action("AtualizarInfoCargo", "Permissao")',
            type: 'POST',
            async: true,
            data: null,
            success: function (data) {
                carregarListaCargos(false);
            }
        });
    }

    function voltarMobile() {
        event.preventDefault();

        $('#paginaDireita').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

</script>